<%- include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="jumbotron jumbotron-fluid" style="background-color: snow;">
                <h2 class="display-4"><strong>Contact</strong> 
                    <img src="/mypic.jpg" alt="profilePic" alt="logo"  style="border-radius: 30%; float: right;"> 
                </h2>
                
            </div>
            <br>
            <br>
            <span class="badge badge-pill badge-primary" style="background-color: lightcoral;">Email</span>
            <p><i class="fa fa-envelope fa-lg" style="color: teal;"></i><a href ="https://mail.google.com/mail/u/0/?tab=rm#inbox"target="https://mail.google.com/mail/u/0/?tab=rm#inbox">sinhasuyash19@gmail.com</a></p>
            <span class="badge badge-pill badge-primary" style="background-color: lightcoral;">Phone</span>
            <p style="color: blue;"><i class="fa fa-phone fa-lg" style="color: teal;"></i>9285425544</p>
            <span class="badge badge-pill badge-primary" style="background-color: lightcoral;">Git</span>
            <p style="color: blue;"><i class="fa fa-user fa-lg" style="color: teal;"></i><a href="https://github.com/soyesa-19" target="https://github.com/soyesa-19">GitHub</a></p>
        
        </div>
    </div>
</div>


<%- include partials/footer.ejs %>